.phonetic {
  height: 60px;
}
.phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 20px;
}
.phonetic a:hover {
  background: #9670f4;
  color: white;
}

.phonetic .phonetic-text {
  opacity: 0.5;
  font-weight: bold;
}
